<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Risultati Sorteggio</title>

    <!-- Bootstrap CSS -->    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   
    
    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {height: 1500px}
        
        /* Set gray background color and 100% height */
        .sidenav {
          background-color: #f1f1f1;
          height: 100%;
        }
        
        /* Set black background color, white text and some padding */
        footer {
          /*background-color: #555;*/
          background-color: rgb(26, 42, 77);
          color: white;          
          padding: 0.1px;
          font-size: small;
        }
        
        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
          .sidenav {
            height: auto;
            padding: 15px;
          }
          .row.content {height: auto;} 
        }
      </style>
  </head>
  <br/>
  <body>      
    <div class="container">     
      <div class="container">
          <div class="row">            
              <div class="col-md-8" align="center"> 
                <div style="text-align: center">
                  <!--  <p><img src="logo_sestu.jpg" class="img-responsive" alt="Comune di Sestu Logo" width="45" height="70">  --> 
                  <!--<img src="https://www.comune.sestu.ca.it/wp-content/uploads/2020/08/logo-sestu-nuovo.png" class="img-responsive" alt="Comune di Sestu Logo" width="60" height="70">    -->
                  <img src="C:\sorteggio\templates\logo_sestu.png" class="img-responsive" alt="Comune di Sestu Logo" width="60" height="70">  
                  <span style="vertical-align:middle"><h4>Comune di Sestu</h4></span>
                </div>  
              </div> 
          </div>  
      </div> 
		
		 <div class="container">
            <div class="row">
                <div class="col-md-8" align="center"> 
                    <div class="shadow-sm p-2 mb-3 bg-white rounded">
                  <p> <h3>Settore Personale, Informatica, Protocollo, Attività  Produttive, Commercio e Agricoltura</h3> </p> 
                  <p> <h5>Sorteggio controlli sulle dichiarazioni sostitutive effettuate dagli operatori economici aggiudicatari di servizi, lavori e forniture, in merito al possesso dei requisiti di cui all'articolo 80 del decreto legislativo  n.50/2016</h5> </p>
                  </div>
                </div>
            </div>
        </div>   

        <div class="container">
            <div class="row">
                <div class="col-md-8" align="center"> 
                    <div class="shadow-sm p-1 mb-5 bg-white rounded">
                  <p> <h4>Specifiche Sorteggio</h4> </p> 
                  </div>
                </div>
            </div>
        </div>   
		
	
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <div class="alert alert-info" role="alert">   
        Identificativo sorteggio: 
        <strong>{{ .Identificativo }}          </strong>         
				<br>
				Periodo di riferimento dal: <strong>{{ .RifTempInizio }} </strong>           al: <strong>{{ .RifTempFine }}  </strong>
				<br>
                Data e ora sorteggio: 
                <em><strong>{{ .OraEdata }} </strong></em>       
            </div>          
        </div>
      </div>
    </div>

    <div class="container">
      <p>
          <dt> Totale possibili estratti: </dt>
        {{ .TotPossEstratti }}   
      </p>      
    </div>  

    <div class="container">
        <div class="row">
            <div class="col-md-6"> 
                <p> 
                    <dt> Lista possibili estratti:  </dt>
                  {{ .ListaPossEstratti }} </p>
              </div>
        </div>
    </div>
    
    
    <div class="container">
      <p>
          <dt> Percentuale estratti: </dt> {{ .PercEstratti }}% 
      </p>
      
      <p>
          <dt> Totale estratti: </dt> {{ .TotEstratti }} 
      </p>

      <p>
        <dt> Elenco estratti: </dt>
          <div class="row">
            <div class="col-md-6">
              <p class="alert alert-warning"><strong>{{ .ElencoEstratti }}</strong></p>
              <!--  <mark> {{ .ElencoEstratti }} </mark>   -->       
            </div>
          </div>       
      </p> 
    </div>
  </div>

  <br>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-md-8" align="left"> 
    <div style="text-align: left">
      <span style="vertical-align:middle"> <small>Sorteggio 0.2.1 </small> </span>					
      <span style="vertical-align:middle"> <small> &emsp;&emsp; Comune di Sestu - Servizi Informativi ed Informatici - 2019 - 2021</small> </span>
    </div> 
  </div> 
    </div>  
</div>

    
  </body>
</html>

